body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.group {
    position: relative;
    background-color: #FFDDD2;
}

.group .relative {
    color: #006d77;
}

.group .absolute {
    top: 0;
    left: 0;
    width: 2px;
    background-color: #E29578;
    transition: all 0.3s ease-in-out;
}

.group:hover .absolute {
    width: 100%;
    background-color: #E29578;
}

.group .relative {
    z-index: 1;
}

.group:hover .relative {
    color: #EDF6F9;
}

nav ul li {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

nav ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #006D77;
    transition: width 0.3s ease;
}

nav ul li:hover::before {
    width: 100%;
}

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.416);
    backdrop-filter: blur(10px);
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hiddenHeader {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1.5s;
}

.showHeader {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

#drawerMenu {
    transition: all 0.3s linear;
    transform: translateX(100%);
}

#drawerMenu.hidden {
    transform: translateX(0);
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

#text {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    
    background: linear-gradient(45deg, #8cff77, #fcff64);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hiddenElements {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.showElements {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.card:nth-child(2) {
    transition-delay: 200ms;
}

.card:nth-child(3) {
    transition-delay: 400ms;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.plant {
    animation: float 3s ease-out infinite;
    width: 500px;
    height: auto;
}

@keyframes float {
    50% {
        transform: translate(0, 60px);
    }
}

.shadow {
    position: absolute;
    height: 15px;
    width: 20%;
    top: 89%;
    left: 70%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    filter: blur(3px);
    animation: shrink 3s ease-out infinite;
}

@keyframes shrink {
    0% {
        width: 20%;
    }
    50% {
        width: 10%;
    }
    100% {
        width: 20%;
    }
}

@media(max-width: 600px) {
    .plant {
        width: 250px;
        margin-left: 25px;
        margin-bottom: 40px;
    }

    .shadow {
        margin-bottom: 10px;
        height: 15px;
        width: 20%;
        top: 100%;
        left: 52%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        filter: blur(3px);
        animation: shrink 3s ease-out infinite;
    }

    #text {
        font-size: 2rem;
    }

    .home, .about, .detection {
        padding: 10px;
    }

    .home .mx-auto, .about .mx-auto, .detection .mx-auto {
        padding: 10px;
    }

    .hiddenElements, .card {
        transform: translateX(0);
        transition: none;
    }

    .card {
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav ul li {
        text-align: center;
    }

    .block {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.img1 {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.img2 {
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.image-container:hover .img1 {
    opacity: 0;
}

.image-container:hover .img2 {
    left: 0;
    opacity: 1;
}

.detection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    background-image: url('https://source.unsplash.com/tall-trees-with-dried-leaves-on-ground-7ne3hNnojvU');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.detection .content{
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff; /* Adjust text color as needed */
    padding: 20px;
    box-sizing: border-box;
}
.detection::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 0;
}